.calculator {
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 1em auto; 
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}

.mat-button-toggle {
    background-color: #05386B;
    color: white;
}
.mat-button-toggle-checked {
    background-color: #5CDB95;

}

mat-divider {
    width: 100%;
    background-color: lightgray;
    margin-top: 25px;
}
