<div class="calculator">
    <h1><b>Vulnerability score calculator</b></h1>
    <mat-divider></mat-divider>
    <h2>Base metrics</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
            <mat-grid-list cols="2" rowHeight="5:1">
                <h2>Access vector</h2>
                <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.accessVector">
                    <mat-button-toggle value=0.7>Local</mat-button-toggle>
                    <mat-button-toggle value=1>Remote</mat-button-toggle>
                  </mat-button-toggle-group>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Access complexity</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.accessComplexity">
                <mat-button-toggle value=0.8>High</mat-button-toggle>
                <mat-button-toggle value=1>Low</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Authentication</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.authentication">
                <mat-button-toggle value=0.6>Required</mat-button-toggle>
                <mat-button-toggle value=1>Not required</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Confidentiality impact</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.confidentialityImpact">
                <mat-button-toggle value=0>None</mat-button-toggle>
                <mat-button-toggle value=0.7>Partial</mat-button-toggle>
                <mat-button-toggle value=1>Complete</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <h2>Temporal metrics</h2>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
            <mat-grid-list cols="2" rowHeight="5:1">
                <h2>Exploitability</h2>
                <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.exploitability">
                    <mat-button-toggle value=0.85>Unproven</mat-button-toggle>
                    <mat-button-toggle value=0.9>Proof of concept</mat-button-toggle>
                    <mat-button-toggle value=0.95>Functional</mat-button-toggle>
                    <mat-button-toggle value=1>High</mat-button-toggle>
                  </mat-button-toggle-group>
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Remediation level</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.remediationLevel">
                <mat-button-toggle value=0.87>Official fix</mat-button-toggle>
                <mat-button-toggle value=0.9>Temporary fix</mat-button-toggle>
                <mat-button-toggle value=0.95>Workaround</mat-button-toggle>
                <mat-button-toggle value=1>Unavailable</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Report confidence</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.reportConfidence">
                <mat-button-toggle value=0.9>Unconfirmed</mat-button-toggle>
                <mat-button-toggle value=0.95>Uncorroborated</mat-button-toggle>
                <mat-button-toggle value=1>Confirmed</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <h2>Environmental metrics</h2>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Collateral damage potential</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.collateralDamagePotential">
                <mat-button-toggle value=0>None</mat-button-toggle>
                <mat-button-toggle value=0.1>Low</mat-button-toggle>
                <mat-button-toggle value=0.3>Meidum</mat-button-toggle>
                <mat-button-toggle value=0.5>High</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Target distribution</h2>
            <mat-button-toggle-group [(ngModel)]="vulnerabilityMetrics.targetDistribution">
                <mat-button-toggle value=0>None</mat-button-toggle>
                <mat-button-toggle value=0.25>Low</mat-button-toggle>
                <mat-button-toggle value=0.75>Meidum</mat-button-toggle>
                <mat-button-toggle value=1>High</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <button mat-raised-button [disabled]="!validate()" (click)="submit()" class="submit-button">Submit</button>
      <div class="result">
        <h1>Vulnerability score: {{score}}</h1>
      </div>
</div>