<div class="cbr">
    <h1><b>Case based reasoning similarity</b></h1>
    <mat-divider></mat-divider>
    <h2>Enter data below</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
            <mat-grid-list cols="2" rowHeight="5:1">
                <h2>Attack name</h2>
                <input matInputAtt placeholder="Ex. inject" [(ngModel)]="cbrModel.attackName">
            </mat-grid-list>
        </mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Likelihood of attack</h2>
            <mat-button-toggle-group [(ngModel)]="cbrModel.likelihoodOfAttack">
                <mat-button-toggle value=0.25>Low</mat-button-toggle>
                <mat-button-toggle value=0.75>Medium</mat-button-toggle>
                <mat-button-toggle value=1>High</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Typical severity</h2>
            <mat-button-toggle-group [(ngModel)]="cbrModel.typicalSeverity">
                <mat-button-toggle value=0.25>Low</mat-button-toggle>
                <mat-button-toggle value=0.75>Medium</mat-button-toggle>
                <mat-button-toggle value=1>High</mat-button-toggle>
              </mat-button-toggle-group>
        </mat-grid-list></mat-grid-tile>
        <mat-grid-tile><mat-grid-list cols="2" rowHeight="5:1">
            <h2>Prerequisites</h2>
            <input matInputPre placeholder="Ex. web" [(ngModel)]="cbrModel.prerequisites">
        </mat-grid-list></mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button (click)="submit()" class="submit-button">Submit</button>
      <mat-divider></mat-divider>
      <div class="result">

        <h1 id="sim">Similarity score: </h1>
        <table>
            <tr>
                <th>Attack</th>
                <th>Result</th>
            </tr>
            <tbody>
                <tr *ngFor="let c of score">
                    <td>
                        {{c.description}}
                    </td>
                    <td>{{c.resultValue}}</td>
                </tr>
            </tbody>
        </table>
      </div>
</div>
