<nav class="navigation">
    <button class="button" mat-button routerLink="">
        Register a new attack
    </button>
    <button class="button" mat-button routerLink="/review">
        Review attacks
    </button>
    <button class="button" mat-button routerLink="/cbr">
        Case-based reasoning
    </button>
    <button class="button" mat-button routerLink="/bayes">
        Bayesian reasoning
    </button>
    <button class="button" mat-button routerLink="/calculator">
        Vulnerability calculator
    </button>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>